.itemsBody{
    width: 395px;
    height: 640px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 9px 0px rgba(34, 60, 80, 0.2);
}
.itemsTariffname{
    height: 164x;
    font-size: 32px;
    color: rgb(223, 221, 217) ;
   
}
.itemsPrice{
    height: 230px;
    font-size: 36px;
    border-top: 2px solid rgb(224, 224, 221);
    color: rgb(230, 231, 232) ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.itemsSpeed{
    height: 155px;
    background-color: aliceblue;
    color: rgb(126, 127, 129) ;
    padding-top: 10px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemsFooter{
    height: 155px;
    background-color: rgb(227, 231, 237); 
   display: flex;
   align-items: center;
    padding-top: 12px;
    font-size: 16px;
    color: rgb(126, 127, 129) ;
}
.selected{
   
    width: 435px;
    height: 670px;
    
}
